@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}
#createClub {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#createClub .container {
  width: 100%;
  height: 100%;
  background: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#createClub .container .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
#createClub .container .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 115px;
  background: linear-gradient(135deg, #5784a7, #03a9f4);
}
#createClub .container form {
  width: 100%;
}
#createClub .container form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
#createClub .user-details .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
.user-details .input-box .details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input,
.user-details .input-box select {
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid,
.user-details .input-box textarea:focus {
  border-color: #03a9f4;
}
.etc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  border-bottom-width: 2px;
  width: 100%;
  margin-top: 20px;
}
.etc .details {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 20px;
}
.user-details .input-box textarea {
  resize: none;
  width: 400px;
}
#createClub .user-details .gender-details {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
#createClub form .gender-details .gender-title {
  display: block;
  font-size: 16px;
  font-weight: 500;
}
#createClub form .gender-details .category {
  display: flex;
  width: 80%;
  margin: 14px 0;
  justify-content: space-between;
}
#createClub .gender-details .category label {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

#createClub .gender-details .category .dot {
  height: 18px;
  width: 18px;
  background: #d9d9d9;
  border-radius: 50%;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three {
  border-color: #d9d9d9;
  background: #03a9f4;
}
#createClub form input[type="radio"] {
  display: none;
}
#createClub form .button {
  width: 100%;
  height: 45px;
  margin: 45px 0;
}
form .button input {
  height: 100%;
  width: 100%;
  outline: none;
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 500px;
  border-radius: 5px;
  letter-spacing: 1px;
  background: linear-gradient(135deg, #5784a7, #03a9f4);
}
form .button input:hover {
  background: linear-gradient(-135deg, #5784a7, #03a9f4);
}
form .user-details .category {
  width: 100%;
}
.container form .user-details {
  max-height: 600px;
  overflow-y: scroll;
}
.user-details::-webkit-scrollbar {
  width: 0;
}
